<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <h2>URL Shortener</h2>
    <form action="" method="POST">
        <label for="fullUrl">URL</label>
        <input type="url" name="fullUrl" id="fullUrl"></input>
        <button type="submit">submit</button>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Short URL</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <a href=""> xxxx </a>
                </td>
                <a href=""> xxxx </a>
            </tr>
        </tbody>
    </table>

</body>

</html>