<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h2>URL Shortener</h2>
        <br />
        <form action="/shortUrls" method="POST" class="form-inline">
            <label for="fullUrl" class="sr-only">Url</label>
            <input required placeholder="Url goes here..." type="url" name="fullUrl" id="fullUrl"
                class="form-control col">
            <button class="btn btn-primary" type="submit">submit</button>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Full URL</th>
                    <th>Short URL</th>
                </tr>
            </thead>
            <tbody>
                <% shortUrls.forEach(shortUrl => { %>
                <tr>
                    <td style="width: 50%;">
                        <a style="font-size: xx-small; overflow-wrap: anywhere;"
                            href="<%= shortUrl.full %>"><%= shortUrl.full %></a>
                    </td>
                    <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>