<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>

    <h2>URL Shortener</h2>
    <form action="" method="POST">
        <label for="fullUrl">URL</label>
        <input type="url" name="fullUrl" id="fullUrl"></input>
        <button type="submit">submit</button>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Short URL</th>
            </tr>
        </thead>
        <tbody>
            <!--loop thru urls-->
            <% shortUrls.forEach(element => { %>
            <tr>
                <td style="width: 50%;">
                    <a style="font-size: xx-small; overflow-wrap: anywhere;"
                        href="<%= element.full %>"><%= element.full %></a>
                </td>
                <td><a href="<%= element.short %>"><%= element.short %></a></td>
            </tr>
            <% }) %>
        </tbody>
    </table>

</body>

</html>